duckduckgo-search
numpy
httpx==0.24.1
huggingface-hub==0.30.2
langchain==0.2.5
langchain-cli==0.0.25
langchain-community==0.2.5
langchain-core==0.2.9
langchain-openai==0.1.9
llama-index-core== 0.12.33.post1
llama-index-embeddings-huggingface==0.5.3
llama-index-embeddings-instructor==0.3.0
llama-index-embeddings-openai==0.3.1
llama-index-llms-huggingface==0.5.0
llama-index-llms-openai==0.3.38
llama-index-readers-file==0.4.7
nltk==3.9.1
openai==1.76.0
transformers==4.51.3
spacy==3.7.4
text2emotion==0.0.5
open_intent_classifier==0.0.8